:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --color-rarity-normal: linear-gradient(rgb(62, 65, 79), rgb(129, 129, 137));
  --color-rarity-rare: linear-gradient(rgb(56, 72, 100), rgb(64, 127, 128));
  --color-rarity-legendary: linear-gradient(rgb(58, 60, 100), rgb(71, 118, 180));
  --color-rarity-epic: linear-gradient(rgb(63, 64, 100), rgb(147, 97, 204));
  --color-rarity-mythic: linear-gradient(rgb(135 ,85, 78), rgb(196, 160, 109))
}